/* COLOR PALETTE

#F45A64 - red - "Carnation"
#FCFAFC - light blue grey - "Prim"
#2F4D75 - dark blue - "San Juan"
#345581 - dark blue(+1) - "Chambray"
#EEF3F8 - light blue white - "Catskill White"
*/

body {
    background-color: #FCFAFC;
}

/* NAV SECTION */

.portfolio-name-holder {
    height: 60px;
    background-color: #2F4D75;
}

.portfolio-remove-margin {
    margin: 0;
}

.portfolio-name {
    font-size: 200%;
    line-height: 60px;
    text-align: center;
    font-family: 'Cantora One', sans-serif;
    font-weight: 600;
    color: #FCFAFC;
}

.portfolio-menu-holder {
    margin-top: 0.5%;
    height: 50px;
    background-color: #345581;
}

.portfolio-menu {
    padding: 0.4em !important;
    text-align: center;
}

.portfolio-menu-link {
    font-size: 100%;
    font-family: 'Text Me One', sans-serif;
    font-weight: 500;
    color: #FCFAFC;
    background-color: #F45A64;
}

.portfolio-menu-link:hover {
    color: #F45A64;
    background-color: #FCFAFC;
}

.portfolio-menu-link-selected {
    font-size: 110%;
    color: #F45A64;
    background-color: #FCFAFC;
}

/* PROFILE SECTION */

#portfolio-profile {
    animation: section-fade-in 1.2s ease-out;
}

.portfolio-profiles-holder {
    margin: 1% 1% 2% 1%;
    width: 98%;
}

.portfolio-profile-holder {
    margin-top: 45%;
    width: 100%;
    color: #2F4D75;
}

.portfolio-profile-description {
    margin: 0.5%;
    padding: 0.25%;
    font-size: 125%;
    font-family: 'Cantora One', sans-serif;
    color: #2F4D75;
}

.portfolio-profile-icons {
    padding: 0 4px;
}

/* SKILLS SECTION */

#portfolio-skills {
    margin-top: 2%;
    animation: section-fade-in 1.2s ease-out;
}

.portfolio-skill-holder {
    margin-top: 10%;
    margin-bottom: 20%;
}

.portfolio-percentage-holder{
    position: relative;
    margin: 4%;
}

.portfolio-percentage-bar-background {
    height: 10px;
    width: 100%;
    background-color: #F45A64;
}

.portfolio-percentage-bar{
    position: absolute;
    top: -5px;
    left: 0;
    height: 20px;
    background-color: #2F4D75;
}

.portfolio-javascript-percentage {
    width: 65%;
    animation: js-bar-fill 1.5s ease-out;
}

.portfolio-html-percentage {
    width: 80%;
    animation: html-bar-fill 1.5s ease-out;
}

.portfolio-css-percentage {
    width: 80%;
    animation: css-bar-fill 1.5s ease-out;
}

.portfolio-blender3d-percentage {
    width: 55%;
    animation: blender3d-bar-fill 1.5s ease-out;
}

.portfolio-unity3d-percentage {
    width: 45%;
    animation: unity3d-bar-fill 1.5s ease-out;
}

.portfolio-photoshop-percentage {
    width: 45%;
    animation: photoshop-bar-fill 1.5s ease-out;
}

.portfolio-java-percentage {
    width: 60%;
    animation: java-bar-fill 1.5s ease-out;
}

.portfolio-c-percentage {
    width: 60%;
    animation: c-bar-fill 1.5s ease-out;
}

/* PROJECTS SECTION */

#portfolio-projects {
    animation: section-fade-in 1.2s ease-out;
}

.portfolio-project-link {
    color: #F45A64;
    font-size: 80%;
}

.portfolio-project-link:hover {
    color: #2F4D75;
}

.portfolio-project-images{
    border: 5px solid #2F4D75;
    border-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
}

.portfolio-description {
    font-family: 'Cantora One', sans-serif;
    font-weight: 400;
}

.portfolio-project-description{
    margin:0%;
    padding: 1%;
    font-size: 130%;
}

.portfolio-projects-holder {
    margin: 6% 2%;
    width: 96%;
}

.portfolio-project-holder {
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    height: 240px;
    background-color: #EEF3F8;
    color: #2F4D75;
}

.portfolio-project-holder:hover{
    color: #F45A64;
}

.portfolio-project-header {
    padding: 0.5% 0%;
}

/* COMMON STYLES */

.portfolio-headings {
    font-family: 'Cantora One', sans-serif;
}

.portfolio-align-center {
    text-align: center;
}

.portfolio-hide {
    display: none;
}

.portfolio-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 8vh;
    width: 100%;
    background-color: #2F4D75;
}

.portfolio-footer-nav-holder {
    width: 100%;
    height: 8vh;
    padding: 2%;
}

.portfolio-footer-nav-icon {
    width: 50%;
    margin: 0 auto;
    font-size: 2.35rem;
}

.portfolio-nav-icon {
    color: #F45A64;
}

/* ANIMATIONS */

@keyframes section-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes js-bar-fill {
    0% {
        width: 0;
    }

    100% {
        width: 65%;
    }
}

@keyframes html-bar-fill {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes css-bar-fill {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes blender3d-bar-fill {
    0% {
        width: 0;
    }

    100% {
        width: 55%;
    }
}

@keyframes unity3d-bar-fill {
    0% {
        width: 0;
    }

    100% {
        width: 45%;
    }
}

@keyframes photoshop-bar-fill {
    0% {
        width: 0;
    }

    100% {
        width: 45%;
    }
}

@keyframes java-bar-fill {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

@keyframes c-bar-fill {
    0% {
        width: 0;
    }

    100% {
        width: 60%;
    }
}

/* MEDIA QUERIES  */
/* FOR LARGE SCREEN */
@media screen and (max-width: 79.99em) {
    .portfolio-name {
        font-size: 150%;
        line-height: 60px;
        text-align: center;
        font-family: 'Cantora One', sans-serif;
        font-weight: 600;
        color: #FCFAFC;
    }

    .portfolio-footer-nav-icon {
        width: 50%;
        margin: 0 auto;
        font-size: 2.3rem;
    }
}

/* FOR MEDIUM SCREEN */
@media screen and (max-width: 63.99em) {
    .portfolio-name {
        font-size: 100%;
        line-height: 60px;
        text-align: center;
        font-family: 'Cantora One', sans-serif;
        font-weight: 600;
        color: #FCFAFC;
    }

    .portfolio-footer-nav-icon {
        width: 50%;
        margin: 0 auto;
        font-size: 2.25rem;
    }

    .portfolio-profile-holder {
        margin-top: 10%;
        width: 100%;
    }

    .portfolio-projects-holder {
        margin: 3% 2%;
        width: 96%;
    }

    .portfolio-md-push-holder-up {
        margin-bottom: 20%;
    }
}

/* FOR SMALL SCREEN */
@media screen and (max-width: 47.99em) {
    .portfolio-name {
        font-size: 200%;
        line-height: 60px;
        text-align: center;
        font-family: 'Cantora One', sans-serif;
        font-weight: 600;
        color: #FCFAFC;
    }

    .portfolio-menu-holder {
        margin-top: 0;
        height: 50px;
        background-color: #345581;
    }

    .portfolio-footer-nav-icon {
        width: 50%;
        margin: 0 auto;
        font-size: 2rem;
    }

    #portfolio-resume-download-link {
        display: none;   
    }

    .portfolio-profile-holder {
        width: 100%;
    }

    .portfolio-sm-push-holder-up {
        margin-bottom: 20%;
    }

    .portfolio-sm-push-holder-down {
        margin-bottom: 0%
    }

    .portfolio-projects-holder {
        margin: 2%;
        width: 96%;
    }

    .portfolio-project-holder {
        margin-top: 6%;
        margin-left: 1%;
        margin-right: 1%;
        width: 98%;
        height: 240px;
    }
}
